a(id='feature')
#features
  .block-content
    h2 It is useful ... 
    .features-wrapper
      div.feature 
        .icon-hourglass
        span Real-time updates
        p Get recommendations and estimates of fresh added jobs once posted to freelance sites.
      div.feature
        .icon-cubes
        span Solid Estimates
        p Our AI Agents gives the most acurate bidding estimates that gurantee better oppurtunity.
      div.feature
        .icon-slack
        span Powerful Commnity
        p Join our Slack community and chat with our team and professional freelancers around world.
