#features
  .block-content
    h2 It is useful
    .features-wrapper
      div.feature 
        span Real-time updates
      div.feature
        span Solid Estimates
      div.feature
        span Powerful Commnity
