section#hero
  div.hero-content
    div.hero-message
      .logo
        span.icon-prolance
      .message-wrapper
        h2 Freelancer?
        h3 We've got your next bid
    .beta-signup.animated.FadeIn
      p Prolance is Beta now, drop us mail for early access
      form
        input(type='text', placeholder='Email Address')
        button(type='submit') Request Invitation
