section#how
  .how-content
    h2 How We Do It?!
    ol
      li 
        span Create Account
        p Register new account to prolance and join the rest successful freelancers.
      li
        span Configure Your Setting
      li
        span Recieve Recommendations
