a(id='how_works')
section#how
  .block-content
    h2 How We Do It?!
    ol
      li 
        span Create Account
        p Register new account to prolance and join the rest successful freelancers.
      li
        span Set Account Settings
        p Tell us your skills, qualifications and your monthly availability, and target income.
      li
        span Recieve Recommendations
        p our AI agents will find the best opportunities that fits with you, in addition to help you bid on it to get the optimized revenue.
