doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Prolance
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300',rel='stylesheet',type='text/css')
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    include includes/header.jade
    include includes/hero-section.jade
    include includes/how-section.jade
    script(src='build/build.js')
